*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bodycolour: #FBF2ED;
    --containercolour: #CDD5C6;
    --buttom: #CED5DF;
    --buttomclean: #AABCC0;
    --buttomgoods: #B1C1D0;
    --darkercolour: #31312F;;
    --softred: #D99789;
    --buttomhover: #F5A15B;
}

body{
    font-family: "Montserrat", serif;
    background-color: var(--bodycolour);
}

.container{
    background-color: var(--containercolour);
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

.subtitle{
    text-align: center;
    margin-top: 10px;
    color: var(--darkercolour);
}

p{
    margin: 10px 0;
}

.inputgroup{
    display: flex; /*deixa um do lado do outro*/
    gap: 8px;
    margin-bottom: 8px;
}

input{
    border: none;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    font-family: "Montserrat", serif;
}

/*
input:focus{ pseudo-class is used to select and style the element that gets focus.
    outline: none;
    border-color: #ddd
}
*/

#item{
    width: 70%;
}

#qntd{
    width: 30%;
}

#add{
    background-color: var(--buttom);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 600;
    font-family: "Montserrat", serif;
}

#add:hover{
    background-color: var(--buttomhover);
    transition: .5s;
    padding: 12px;
}

.actions{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.clean{
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px;
    background-color: var(--buttomclean);
    font-family: "Montserrat", serif;
}

.clean:hover{
    background-color: var(--buttomhover);
    transition: .5s;
    padding: 10px;
}

.boughtgoods{
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px;
    background-color: var(--buttomgoods);
    font-family: "Montserrat", serif;
}

.boughtgoods:hover{
    background-color: var(--buttomhover);
    transition: .5s;
    padding: 10px;
}

li{
    display: flex;
    margin: 15px 0;
}

li button{ /*botão é filho da li*/
    color: #E1523D;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

li p{
    margin-left: 5px;
}

@media (max-width:800px){
    body{
        background-color: var(--darkercolour);
    }

    .container{
        background-color: #98A6A2;
    }

    #add{
        background-color: #34464D;
        color: white
    }

    .clean{
        background-color: #66796B;
        color: white;
    }

    .boughtgoods{
        background-color: #60714E;
        color: white;
    }

    #item{
        width: 100%;
    }
    
    #qntd{
        width: 100%;
    }

    .inputgroup{
        flex-direction: column;
    }

    p{
        color: white;
    }
}